flask
flask-session
flask-cors
python-dotenv
tabulate
requests
chromadb
supabase
langchain-community
langchain-huggingface
sentence-transformers
torch        # required for HuggingFace + sentence-transformers
transformers # required for HuggingFace models
