@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{margin: 0; padding: 0;}
body {
  min-height: 98vh;
  min-width: 99vw;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  position: relative;
  background: linear-gradient(120deg, #f8fafc 0%, #e3f0ff 100%);

}
header{width: 100%; height: 70px; background: #e0e7ff; position: fixed; top: 0; left: 0; z-index: 1000; box-shadow: 0 2px 16px 0 rgba(31, 38, 135, 0.08);}
header .row{margin: 0px !important;}
header .logo{text-decoration: none;}
header .logo img{height: 40px; width: 45px; border-radius: 50%;}
header .logo span{margin-left: 8px; color: #000000; font-size: 18px; font-weight: 700; text-decoration: none;}
body.dark{background: linear-gradient(135deg, #232946 0%, #232946 100%);opacity: 0.9;}
body.dark header{background: #232946; box-shadow: 0 2px 16px 0 rgba(31, 38, 135, 0.18);}
body.dark header button.rounded-circle svg{color: #fff;}
body.dark header .logo span{color: #fff;}
/* body.dark header .logo img{filter: invert(1);} */
body.dark header .myacc .userInfo h4{color: #fff;}
body.dark header .myacc .userInfo p{color: #fff;}
body.dark header .myacc .userInfo{color: #fff;}
body.dark header .myacc .userInfo{color: #fff;}
body.dark .main .sidebarwrapper{background: #232946; box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);}
body.dark .main .sidebarwrapper .sidebar ul li button{color: #fff;}
body.dark .main .sidebarwrapper .sidebar .sidebar-header{color: #fff;}
body.dark .main .sidebarwrapper .sidebar ul li button .icon svg{color: #fff;}
body.dark .main .sidebarwrapper .sidebar ul li button .text{color: #fff;}
body.dark .main .sidebarwrapper .sidebar ul li button .arrow svg{color: #fff;}
body.dark .main .sidebarwrapper .sidebar ul li button .arrow{color: #fff;}
body.dark .main .sidebarwrapper .sidebar ul li button .arrow{color: #fff;}
body.dark .main .sidebarwrapper .sidebar ul .sub-menu li a{color: #fff;}
body.dark .main .sidebarwrapper .sidebar ul .sub-menu li a .icon svg{color: #fff;}


.full{width: 100%!important;flex:0 0 100%!important;width: 100%!important;padding-left: 0px!important;height: 100vh;}
header{ background: linear-gradient(120deg, #f8fafc 0%, #e3f0ff 100%);;}
header button.rounded-circle{min-width: 30px !important; color: #000 !important; background: transparent !important; display: flex; align-items: center; justify-content: center;opacity: 0.7;}
header button.rounded-circle svg{width: 30px; height: 30px; color: #000; transition: all 0.3s ease-in-out;}
.myacc .userImg{width: 40px; height: 40px; transition: all 0.3s ease-in-out;}
.myacc .userImg img{width: 100%; height: 100%;}
.myacc .userInfo{margin-left: 10px;}
.myacc .userInfo h4{font-size: 16px; font-weight: 600; margin-bottom: 0px;}
.myacc .userInfo p{font-size: 12px;}
.menu-btn{display: flex !important;}
.signin-btn{background: #292929ec!important; color: #ffffff!important; border-radius: 10px!important;margin: 5px!important; font-size: 14px; font-weight: 600;border:1px solid #000;padding: 5px 18px!important;}
.btn-rounded{border-radius: 30px!important;}
.myacc-btn{margin: 5px!important; font-size: 14px; font-weight: 600; transition: all 0.3s ease-in-out;}

.main .content{ background: linear-gradient(120deg, #f8fafc 0%, #e3f0ff 100%);; width: 100%; padding-left: 280px;transition: all 0.3s ease-in-out; padding-bottom: 32px; box-sizing: border-box;}
.main .content.open{padding-left: 0;}
.main .sidebarwrapper{ background: linear-gradient(120deg, #f8fafc 0%, #e3f0ff 100%);;width: 280px; position: fixed; left:0; top:70px; height: 100vh; box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.08); transition: all 0.3s ease-in-out; z-index: 1001;}
.main .sidebarwrapper.open{left: -280px;}
.main .sidebarwrapper .sidebar{width: 100%;}
.main .sidebarwrapper .sidebar .sidebar-header{width: 100%; height: 50px; display: flex; padding: 10px 25px; outline: none; font-size: 15px; font-weight: 500;margin-top: 10px;margin-bottom: 0px;opacity: 0.8;}

.main .sidebarwrapper .sidebar ul{padding-left: 0px;margin-left: 8px;margin-bottom: 0px;}
.main .sidebarwrapper .sidebar ul li{margin-bottom: 0px; list-style: none;}
.main .sidebarwrapper .sidebar ul li button{width: 100%; text-align: left; justify-content: flex-start;align-items: center; padding: 10px 15px; border-radius: 0px; background: transparent; border: none; outline: none; box-shadow: none; font-size: 15px; font-weight: 600; color: #000; transition: all 0.3s ease-in-out;justify-content: space-around;}
.main .sidebarwrapper .sidebar ul li button:hover{background: #000; color: #fff;border-radius: 5px;height: 50px;}
.main .sidebarwrapper .sidebar ul li button .text{margin-left: 10px;margin-top: 10px;}
.main .sidebarwrapper .sidebar ul li button .icon{width: 20px; height: 20px; border-radius: 50%;display: inline-block;margin-right: 10px;justify-content: center;align-items: center;}
.main .sidebarwrapper .sidebar ul li button .icon svg{width: 100%; height: 100%;opacity: 0.7;font-size: 16px  ;}
.main .sidebarwrapper .sidebar ul li button .arrow{width: 20px; height: 20px; border-radius: 50%;display: inline-block;margin-left: auto;justify-content: center;align-items: center;transition: all 0.3s ease-in-out;}
.main .sidebarwrapper .sidebar ul li button .arrow svg{width: 100%; height: 100%;font-size: 16px;opacity: 0.7;}

.main .sidebarwrapper .sidebar ul .sub-menu{padding: 10px 45px 0px 45px;transition: all 0.3s ease-in-out;}
.main .sidebarwrapper .sidebar ul .sub-menu li{width :100%;list-style: none;padding-left: 20px;border-left: 1px solid black;margin-bottom: 10px;}
.main .sidebarwrapper .sidebar ul .sub-menu li a{color:black;text-decoration: none;display: inline-block;padding: 5px 0px;font-size: 14px;font-weight: 500;transition: all 0.3s ease-in-out;}
.main .sidebarwrapper .sidebar ul .sub-menu li a:hover{border-radius: 5px;padding: 5px 10px;width: 100%;}
.main .sidebarwrapper .sidebar ul .sub-menu li a .icon{width: 20px; height: 20px; border-radius: 50%;display: inline-block;margin-right: 10px;justify-content: center;align-items: center;}
.main .sidebarwrapper .sidebar ul .sub-menu li a .icon svg{width: 100%; height: 100%;opacity: 0.7;font-size: 16px  ;}
.main .sidebarwrapper .sidebar ul .sub-menu li a .text{margin-left: 10px;margin-top: 10px;}
.main .sidebarwrapper .sidebar ul .sub-menu li a .arrow{width: 20px; height: 20px; border-radius: 50%;display: inline-block;margin-left: auto;justify-content: center;align-items: center;transition: all 0.3s ease-in-out;}
.main .sidebarwrapper .sidebar ul .sub-menu li a .arrow svg{width: 100%; height: 100%;font-size: 16px;opacity: 0.7;}
.main .sidebarwrapper .sidebar ul li button.active .arrow{transform: rotate(90deg);}

.main .sidebarwrapper .sidebar ul .submenuwrapper{display: none;transition: all 0.3s ease-in-out;}
.main .sidebarwrapper .sidebar ul .submenuwrapper.colapse{display: block;}
.main .sidebarwrapper .sidebar ul .submenuwrapper.colapsed{display: none;}

.App {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  padding: 1rem;
  background-color: var(--background-color);
  /* flex-grow: 1; */
}

@media (max-width: 992px) {
    .main .sidebarwrapper {
        width: 220px;
        flex-basis: 220px;
    }
    .main .sidebarwrapper .sidebar {
        width: 220px;
    }
}

@media (max-width: 768px) {
    header .part1, .part3 .myacc .userInfo {
        display: none !important;
    }
    header .part2 {
        flex: 0 0 auto;
        width: auto;
    }
    header .part3 {
        flex: 1 1 auto;
    }
    .main .content{
        padding-left: 0;
    }
    .main .sidebarwrapper{
        left: -280px;
    }
    .main .sidebarwrapper.open{
        left:0;
    }
}


body.dark .main .content {
  background: rgba(30, 41, 59, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
}
